@charset "UTF-8";
/*去除默认样式*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, textarea, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-all; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal; }

i, em, b, strong {
    font-style: normal; }

table {
    border-collapse: collapse; }

li {
    list-style-type: none; }

body {
    font-size: 12px;
    line-height: 1.5; }

a {
    text-decoration: none;
    color: inherit; }

a:focus {
    outline: none; }

img {
    border: none;
    vertical-align: middle; }

input, button, select, textarea {
    outline: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    line-height: normal; }

input.disabled, textarea.disabled {
    background: #ccc; }

button.disabled {
    background: #ccc;
    color: #fff; }

button.disabled:hover {
    background: #ccc;
    color: #fff;
    cursor: default; }

textarea {
    resize: none; }

/*超过隐藏或截取*/
.ellip {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

/*浮动*/
.cf:after, .c_centerTop:after, .help_div_content .submenu_tab_crash:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.body {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff; }

/********************
	去除之前的样式
********************/
.navbar {
    line-height: 20px; }

/********************
	公用样式
********************/
/*加载更多*/
.c_loadData {
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    background: #ddd;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #333;
    float: left; }

/********************
	下拉框
********************/
.c_select, .c_selectTime {
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    font-size: 13px; }
.c_select.show .select_icon, .c_selectTime.show .select_icon {
    transform: rotate(180deg); }
.c_select.show .select_content, .c_selectTime.show .select_content {
    display: block; }
.c_select .select_title, .c_selectTime .select_title {
    width: 100%;
    height: 30px;
    position: relative;
    background: #36a9e1;
    border-radius: 4px;
    padding-right: 36px; }
.c_select .select_title:hover, .c_selectTime .select_title:hover {
    cursor: pointer; }
.c_select .select_text, .c_selectTime .select_text {
    height: 100%;
    line-height: 30px;
    padding: 0px 10px;
    overflow: hidden;
    color: #fff; }
.c_select .select_icon, .c_selectTime .select_icon {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -3px;
    border-top: 7px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transition: all 0.6s; }
.c_select .select_content, .c_selectTime .select_content {
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    margin-top: -1px;
    background: #fff;
    border: 1px solid #aaa;
    border-top: none;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    color: #666;
    display: none;
    z-index: 9999; }
.c_select .select_content .inputBox, .c_selectTime .select_content .inputBox {
    padding: 5px;
    width: 100%;
    position: relative; }
.c_select .select_content .inputBox:after, .c_selectTime .select_content .inputBox:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
    width: 16px;
    height: 16px;
   }
.c_select .select_content .input, .c_selectTime .select_content .input {
    height: 28px;
    padding: 0px 20px 0px 5px;
    width: 100%;
    border: 1px solid #aaa;
    margin-bottom: 0px; }
.c_select .select_content .results, .c_selectTime .select_content .results {
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
    position: relative; }
.c_select .select_content .results .result, .c_select .select_content .results .no_result, .c_selectTime .select_content .results .result, .c_selectTime .select_content .results .no_result {
    padding: 0px 10px;
    line-height: 2;
    font-weight: bolder; }
.c_select .select_content .results .result.hover, .c_selectTime .select_content .results .result.hover {
    background: #36a9e1;
    cursor: pointer;
    color: #fff; }

.c_select2 {
    font-size: 12px; }
.c_select2 .select_text {
    color: #666; }
.c_select2 .select_title {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 0px;
    padding-right: 0px; }
.c_select2 .select_icon {
    border-top: 7px solid #666;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent; }
.c_select2 .select_content {
    margin-top: 0px; }

/********************
	进度条
********************/
.c_dragProgress {
    width: 100%; }
.c_dragProgress .drag {
    height: 20px;
    position: relative; }
.c_dragProgress .drag .drag_icon {
    width: 16px;
    height: 26px;
    position: absolute;
    left: 0px;
    top: -3px;

    cursor: pointer; }
.c_dragProgress .drag .drag_progress {
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    border: #d0d0d0 solid 1px; }
.c_dragProgress .drag .drag_progress .drag_progress_inner {
    width: 0px;
    height: 100%;
    background: #36a9e1; }
.c_dragProgress .drag_label {
    position: relative;
    height: 30px; }
.c_dragProgress .drag_label .li {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 30px;
    color: #b9b9b9;
    text-align: center;
    font-size: 12px; }
.c_dragProgress .drag_label .li .line {
    background: #b9b9b9;
    height: 6px;
    width: 1px;
    margin: 6px auto 0px; }
.c_dragProgress .drag_label .li.active {
    color: #222; }
.c_dragProgress .drag_label .li.active .line {
    background: #222; }

/********************
	时间选择
********************/
.c_choiceDatePicker {
    border: solid 1px #c0c0c0;
    background: #FFF;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 518px; }
.c_choiceDatePicker .header {
    border-bottom: #c0c0c0 solid 1px;
    height: 36px;
    margin-left: 13px;
    margin-right: 13px;
    line-height: 36px;
    position: relative; }
.c_choiceDatePicker .header .title {
    font-weight: bold; }
.c_choiceDatePicker .header .closeIcon {
    top: 10px;
    right: 5px;
    position: absolute;
    width: 20px;
    height: 20px;
     }
.c_choiceDatePicker .header .closeIcon:hover {
    background-position: 0 -845px;
    cursor: pointer; }
.c_choiceDatePicker .content {
    margin-top: 20px; }
.c_choiceDatePicker .btnDiv {
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center; }
.c_choiceDatePicker .btnDiv button {
    width: 96px;
    height: 40px;
    cursor: pointer;
    background: #36a9e1;
    color: #FFF;
    font-weight: bold;
    font-size: 12px; }
.c_choiceDatePicker .btnDiv button:hover {
    background: #339fd3; }

/********************
	左边树
********************/
.c_ztree {
    width: 245px; }
.c_ztree.show .content {
    display: block; }
.c_ztree.show .beforeRow {
    transform: rotate(90deg); }
.c_ztree .line {
    position: relative;
    height: 24px;
    color: #4d4d4d;
    margin-top: 4px; }
.c_ztree .line.active {
    border: 1px solid #ffca93; }
.c_ztree .line.active .bg {
    background: #ffca93; }
.c_ztree .line.active .afterRow {
    display: block; }
.c_ztree .line.active:hover {
    border: 1px solid #ffca93; }
.c_ztree .line:hover {
    border: 1px solid #36a9e1;
    cursor: pointer;
    color: #36a9e1; }
.c_ztree .line .bg {
    width: 0px;
    height: 100%;
    background: #aed5f2; }
.c_ztree .line_content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }
.c_ztree .line .beforeRow {
    border-left: 8px solid #888;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    margin: 0px 4px 0px 6px;
    transition: all 0.6s; }
.c_ztree .line .text {
    flex: 1;
    margin-left: 4px;
    overflow: hidden;
    margin-right: 10px;
    white-space: nowrap;}
.c_ztree .line .sec {
    margin-right: 2px; }
.c_ztree .line .afterRow {
    border-left: 8px solid #ffca93;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    left: 100%;
    top: -1px;
    margin-left: 1px;
    display: none; }
.c_ztree .content {
    margin-left: 20px;
    margin-top: 6px;
    display: none; }

/*******头部******/
.c_centerTop {
    padding: 10px 25px;
    background: #fff;
    box-shadow: 0 1px 0 1px #e4e6eb;
    width: 100%;
    border-radius: 2px; }
.c_centerTop .left {
    float: left; }
.c_centerTop .right {
    float: right; }
.c_centerTop .typeSelect {
    width: 300px; }
.c_centerTop .verSelect {
    display: inline-block;
    width: 200px; }
.c_centerTop .timeSelect {
    width: 128px;
    display: inline-block;
    margin-left: 20px; }

/*******内容******/
.c_centerContent {
    padding: 12px 25px 0 20px;
    margin-top: 30px;
    width: auto;
    border-radius: 5px;
    background: #fff;
    min-height: 800px; }
.c_centerContent_top {
    padding: 22px 0 11px;
    border-bottom: 1px solid #bbb; }
.c_centerContent_top .text {
    height: 31px;
    line-height: 31px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-left: 5px;
    margin-right: 18px; }
.c_centerContent_top .tBtn {
    width: 101px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 1px solid #ccc;
    color: #333;
    margin-right: 6px;
    display: inline-block;
    cursor: pointer; }
.c_centerContent_top .tBtn:hover {
    background: #f1f1f1; }
.c_centerContent_top .tBtn.active {
    background: #36a9e1;
    border: 1px solid #36a9e1;
    color: #fff; }
.c_centerContent .section {
    display: flex; }
.c_centerContent .section_left {
    margin-top: 10px; height: 600px; overflow:scroll;}
.c_centerContent .section_right {
    flex: 1;
    margin-left: 20px; }
.c_centerContent .section .right_gray2 {
    background: #f2f2f2;
    color: #4d4d4d;
    display: block;
    height: 35px;
    line-height: 35px;
    width: 100%;
    white-space: nowrap;
    margin-top: 10px; }
.c_centerContent .section .right_gray2 .grayfont2 {
    margin-left: 10px; }
.c_centerContent .section .right_gray2 .icon_help_black {
    float: left;
    width: 15px;
    height: 15px;

    margin-right: 10px;
    margin-top: 10px; }

/********************
	底部
********************/
.c_footer {
    padding: 20px 0px 50px;
    text-align: center; }

/********************
	崩溃
********************/
.cr_select {
    width: 158px; }
.cr_select .select_title {
    border-radius: 0px; }

.app_ul1 {
    width: 100%;
    height: 65px;
    margin-top: 10px; }
.app_ul1 li {
    float: left;
    margin-right: 1.5%;
    border: 1px solid #d4d4d4;
    height: 100%;
    padding: 11px 0;
    width: 23.5%;
}
.app_ul1 li.li_bug {
    background-position: 13px 20px; }
.app_ul1 li.li_skull {
    background-position: 13px -35px; }
.app_ul1 li.li_user {
    background-position: 13px -90px; }
.app_ul1 li.li_position {
    background-position: 13px -145px; }
.app_ul1 li div {
    width: auto;
    padding-left: 10px;
    margin-left: 45px;
    border-left: 1px solid #d4d4d4;
    font-size: 12px;
    color: #333; }
.app_ul1 li .app_ul1_div1 {
    line-height: 16px;
    height: 16px; }
.app_ul1 li .app_ul1_div2 {
    line-height: 20px;
    padding-top: 4px;
    height: 20px; }
.app_ul1 li .app_ul1_div2 strong {
    color: #ff5400;
    font-size: 26px;
    margin-right: 5px;
    font-family: Arial; }

.app_collapse_div1 {
    height: 32px;
    padding-bottom: 10px;
    margin-top: 10px; }
.app_collapse_div1 div {
    float: left;
    line-height: 32px; }
.app_collapse_div1 .app_list1 {
    width: 255px;
    height: 32px;
    position: relative; }
.app_collapse_div1 .search-trace-div {
    width: 175px;
    height: 32px; }
.app_collapse_div1 .search-trace-input {
    width: 100%;
    height: 32px;
    line-height: 32px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 24px;

    background-repeat: no-repeat;
    background-position: 5px center;
    color: #333;
    outline: 0; }
.app_collapse_div1 .search-trace-input[placeholder], .app_collapse_div1 .search-trace-input [placeholder], .app_collapse_div1 .search-trace-input [placeholder] {
    color: #333 !important; }
.app_collapse_div1 .search-trace-btn {
    width: 50px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background: #36a9e1;
    float: left;
    margin-left: 8px;
    cursor: pointer; }
.app_collapse_div1 .search-trace-btn:hover {
    background: #339fd3; }

/**表格**/
.app_collapse_tab1 {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%; }
.app_collapse_tab1 input {
    margin: 0px; }
.app_collapse_tab1 th {
    border: 1px solid #d3d3d3;
    background: #7c7c7c;
    border-top: 1px solid #7c7c7c;
    height: 30px;
    color: #fff; }
.app_collapse_tab1 .left_border {
    border-left: 1px solid #7c7c7c; }
.app_collapse_tab1 .right_border {
    border-right: 1px solid #7c7c7c; }
.app_collapse_tab1 .state {
    position: relative; }
.app_collapse_tab1 .state:hover {
    cursor: pointer; }
.app_collapse_tab1 .state:hover em {
    background-position: right -57px; }
.app_collapse_tab1 .state:hover .app_edition_div {
    display: block; }
.app_collapse_tab1 em {
    font-style: normal;
    padding-right: 14px;
    cursor: pointer;
    color: #fff; }
.app_collapse_tab1 .app_edition_div {
    width: 130px;
    padding-top: 12px;
    position: absolute;
    top: 24px;
    left: 50%;
    z-index: 100;
    color: #000;
    margin-left: -65px;
    display: none; }
.app_collapse_tab1 .app_edition_div ul {
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    padding: 5px 0 5px 20px; }
.app_collapse_tab1 .app_edition_div li {
    margin-top: 5px;
    text-align: left; }
.app_collapse_tab1 .app_edition_div li input {
    margin: 0px 6px 0 0; }
.app_collapse_tab1 .app_edition_div li span {
    line-height: 1;
    font-weight: normal; }
.app_collapse_tab1 tbody tr:nth-child(2n) {
    background: #f6f6f6; }
.app_collapse_tab1 td {
    border: 1px solid #d3d3d3;
    height: 35px;
    text-align: center;
    color: #666; }
.app_collapse_tab1 .bug {
    padding: 0px 10px;
    text-align: left; }
.app_collapse_tab1 a {
    color: #3598db; }
.app_collapse_tab1 a:hover {
    cursor: pointer; }
.app_collapse_tab1 .label_yj {
    padding: 1px 10px 1px 10px;
    height: 18px;
    min-width: 25px;
    max-width: 112px;
    border: 1px solid #0085c9;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin: 3px 0 3px 0;
    box-sizing: content-box; }
.app_collapse_tab1 .label_yj .text {
    float: left; }
.app_collapse_tab1 .label_yj .crash_del_icon {
    width: 12px;
    height: 12px;
    cursor: pointer;
    float: right;
    margin-top: 4px;
    margin-left: 4px; }
.app_collapse_tab1 .c_select2 {
    width: 106px; }

/********************
	崩溃详情
********************/
.app_details_tit1 {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px; }

.app_lay1_div1 {
    width: 100%;
    display: flex; }
.app_lay1_div1 .app_lay1_div11 {
    height: 80px;
    padding: 10px;
    background: #f2f2f2;
    overflow: hidden;
    color: #333;
    flex: 1; }
.app_lay1_div1 .app_lay1_div12 span {
    height: 28px;
    line-height: 28px;
    display: block;
    text-align: center; }
.app_lay1_div1 .app_lay1_div12 strong {
    height: 40px;
    line-height: 40px;
    display: block;
    color: #333;
    text-align: center;
    font-size: 26px;
    font-family: Arial;
    margin-top: 9px; }
.app_lay1_div1 .app_lay1_div12, .app_lay1_div1 .app_lay1_div13 {
    height: 78px;
    border: 1px solid #f2f2f2;
    border-left: 0;
    width: 13%; }
.app_lay1_div1 .app_lay1_div13 {
    text-align: center; }
.app_lay1_div1 .app_lay1_div13 .crash_status_unresolve {
    color: #ff5400;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin-top: 9px; }
.app_lay1_div1 .app_lay1_div13 .crash_status_resolve {
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin-top: 9px;
}

.app_lay1_div1 .app_lay1_div13 .c_select2 {
    text-align: center;
    width: 100px; }

.app_lay2_div1 {
    width: 1000px;
    height: auto;
    margin: 50px auto 15px auto;
    position: relative; }
.app_lay2_div1 .arrow_left, .app_lay2_div1 .arrow_right {
    width: 25px;
    height: 40px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 15px;
; }
.app_lay2_div1 .arrow_left {
    left: 0;
    background-position: left top; }
.app_lay2_div1 .arrow_left:hover {
    background-position: left -46px; }
.app_lay2_div1 .arrow_right {
    right: 110px;
    background-position: left -104px; }
.app_lay2_div1 .arrow_right:hover {
    background-position: left -160px; }
.app_lay2_div1 .app_lay2_div11 {
    width: 910px;
    height: 70px;
    text-align: center;
    padding: 0 20px; }
.app_lay2_div1 .app_lay2_div11 p {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    color: #00a0e9; }
.app_lay2_div1 .app_lay2_div12 {
    width: 70px;
    height: 35px;
    float: left;
    padding: 35px 25px 0;
    position: absolute;
    right: 0;
    top: -20px;
    z-index: 100; }
.app_lay2_div1 .app_lay2_div12 .app_lay2_div12_down {
    display: block;
    height: 35px;
    line-height: 35px;
    width: 70px;
     cursor: pointer;
    color: #00a0e8; }
.app_lay2_div1 .app_lay2_div12 .app_lay2_div12_down.show {
    background-position: 58px -5px; }

.app_collapse_list {
    padding: 9px;
    background: #fff;
    position: relative;
    margin: 20px auto 0;
    border: 1px solid #e8e8e8;
    border-radius: 3px; }
.app_collapse_list .list_tab_arrow {
    position: absolute;
    top: -13px;
    right: 50px;
    width: 27px;
    height: 20px;
  }
.app_collapse_list .app_list_table {
    border-collapse: collapse;
    width: 100%; }
.app_collapse_list .app_list_table th {
    height: 30px;
    background: #7c7c7c;
    color: #fff;
    border: 1px solid #7c7c7c;
    border-right: 1px solid #d3d3d3;
    text-align: center; }
.app_collapse_list .app_list_table .end_th {
    border-right: 1px solid #7c7c7c; }
.app_collapse_list .app_list_table tbody tr {
    cursor: pointer; }
.app_collapse_list .app_list_table .active td {
    background-color: #daf0fb; }
.app_collapse_list .app_list_table td {
    height: 36px;
    text-align: center;
    border: 1px solid #d3d3d3;
    background-color: #fff; }

.orther_message_crash1 {
    width: 100%;
    margin-top: 20px;
    box-sizing: content-box;
    background: #f2f2f2;
    padding-bottom: 5px; }
.orther_message_crash1 .orther_message_crash11 {
    width: 100%;
    height: 15px;
    padding: 10px 0 5px 0;
    overflow: hidden;
    color: #333;
    box-sizing: content-box; }
.orther_message_crash1 .orther_message_crash11 span {
    padding-left: 10px;
    padding-right: 10px; }

.help_div_content {
    position: relative;
    margin-top: 80px; }
.help_div_content .submenu_tab_crash {
    position: absolute;
    left: 0px;
    bottom: 100%;
    display: inline-block;
    transform: translate(0px, 1px);
    background: #fff;
    border-top: #d3d3d3 1px solid;
    border-right: #d3d3d3 1px solid;
    z-index: 999; }
.help_div_content .submenu_tab_crash li {

    float: left;
    width: 111px;
    height: 41px;
    line-height: 41px;
    text-align: center; }
.help_div_content .submenu_tab_crash li.active a {
    color: #2f2f2f;
    background: #fff;
    border-left: #d3d3d3 1px solid;
    border-bottom: #fff 0 solid; }
.help_div_content .submenu_tab_crash li a {
    color: #666;
    width: 100%;
    height: 100%;
    line-height: 41px;
    text-align: center;
    text-decoration: none;
    float: left;
    border-left: #d3d3d3 1px solid;
    border-bottom: #d3d3d3 1px solid; }
.help_div_content .app_lay2_condiv1 {
    border: 1px solid #d3d3d3;
    padding: 5px 1px;
    width: 100%;
    color: #4d4d4d;
    position: relative;
    background: #f2f2f2;
    display: none; }
.help_div_content .app_lay2_condiv1.active {
    display: block; }
.help_div_content .app_lay2_condiv1 p {
    height: 25px;
    line-height: 25px;
    max-width: 95%;
    padding-left: 10px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis; }
.help_div_content .format_ul1 {
    margin-top: 10px;
    border-bottom: 1px solid #d3d3d3; }
.help_div_content .format_ul1 li {
    padding-left: 23px;
    height: 35px;
    border: 1px solid #d3d3d3;
    border-bottom: 0;
    background: #f6f6f6;
    overflow: hidden;
    display: flex; }
.help_div_content .format_ul1 li:nth-child(2n) {
    background: #fff; }
.help_div_content .format_ul1 li.error {
    color: red; }
.help_div_content .format_ul1 li span {
    height: 35px;
    line-height: 35px;
    display: inline-block;
    overflow: hidden; }
.help_div_content .format_ul1 li .format_span1 {
    flex: 1; }
.help_div_content .format_ul1 li .format_span2 {
    flex: 4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px; }
.help_div_content .format_ul1 li .format_span3 {
    flex: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px; }
.help_div_content .format_ul1 li .format_span4 {
    flex: 15;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px; }

.app_lay2_tit1 {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px; }
.app_lay2_tit1 .tip_title {
    color: #f6f6f6;
    font-style: italic;
    float: right;
    font-size: 12px;
    font-weight: normal; }

.app_lay2_tab1 {
    width: 100%;
    border-collapse: collapse; }
.app_lay2_tab1 .td_tit {
    background: #f6f6f6;
    text-align: right;
    width: 11%; }
.app_lay2_tab1 td {
    border: 1px solid #ccc;
    height: 40px;
    text-indent: 0;
    width: 14%; }
.app_lay2_tab1 td span {
    line-height: 15px;
    padding: 5px 8px;
    display: block; }


/********************
性能分布
********************/
.app_chart_w01 .title {
    padding: 10px 20px;
    color: #666; }

.app_chart_w01 .section {
    display: flex;
    border: 1px solid #d3d3d3; }

.app_chart_w01 .section_tab {
    width: 120px; }
.app_chart_w01 .section_tab li {
    width: 100%;
    height: 56px;
    background: linear-gradient(#fff, #f7f7f7);
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    text-align: center;
    line-height: 56px; }
.app_chart_w01 .section_tab li:last-child {
    border-bottom: none; }
.app_chart_w01 .section_tab li.active {
    border-right: none;
    color: #2f2f2f;
    background: #fff; }
.app_chart_w01 .section_tab li:hover {
    cursor: pointer; }

.app_chart_w01 .section_content {
    flex: 1; }
.app_chart_w01 .section_content li {
    width: 100%;
    height: 336px;
    display: none;
    padding: 10px; }
.app_chart_w01 .section_content li.active {
    display: block; }

/*# sourceMappingURL=addNew.css.map */
