<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link ref="stylesheet" href="/css/bootstrap.min.css">
    <link ref="stylesheet" href="/css/style.css">
    <link ref="stylesheet" href="">
    <title>Oam</title>
</head>

<body>

   <div class="c_centerTop">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span5">
                <div class="row-fluid">
                <select class="span5">
                    　<option>主机错误</option>　　
                      <option>Http错误</option>
                      <option>Tcp错误</option>　　　　

               </select>
                <span class="caret01"></span>
                </div>
            </div>
        </div>
    </div>
   </div>
</body>

</html>